/**
* HTML/CSS/JS Template
*
* @info		480px and up styling
* @version	0.3.2
* @author	Jasal Vadgama - http://blacklabelcreative.com/
**/

/**
* Imports
**/
@import 'src/sass/partials/_variables.scss';

#drawArea {
	width: 500px;
	height: 500px;
	border: 1px solid #ccc;
}