extends layout

block content
    #pageWrapper
        header#header
            h1 Socket.io Experiments

        #content.artist
            h2 Draw stuff...

            #drawArea

        footer#footer