/**
* Wrappers and Grid
**/

body {
    background: $white;
    color: $black;
    font: 14px/1.2em Arial, Helvetica, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
